* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_4 {
  width: 100%;
  height: 2869px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_206 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1149px;
  left: 215px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v6_198 {
  width: 100%;
  color: url("../images/v6_198.png");
  position: absolute;
  top: 1091px;
  left: 197px;
  font-family: Poppins;
  font-weight: Black;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4_7 {
  width: 261px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 356px;
  left: 590px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v4_5 {
  width: 500px;
  color: rgba(13,172,232,1);
  position: absolute;
  top: 243px;
  left: 470px;
  font-family: Poppins;
  font-weight: Black;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
.v4_6 {
  width: 571px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 201px;
  left: 435px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v6_212 {
  width: 100%;
  height: 418px;
  background: url("../images/v6_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 552px;
  left: 405px;
  overflow: hidden;
}
.v6_192 {
  width: 743px;
  height: 418px;
  background: url("../images/v6_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v6_193 {
  width: 736px;
  height: 414px;
  background: url("../images/v6_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1515px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v6_194 {
  width: 723px;
  height: 407px;
  background: url("../images/v6_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 765px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v6_210 {
  width: 100%;
  height: 296px;
  background: url("../images/v6_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 0px;
  overflow: hidden;
}
.v5_16 {
  width: 270px;
  height: 296px;
  background: url("../images/v5_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v6_211 {
  width: 572px;
  height: 45px;
  background: url("../images/v6_211.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 418px;
  overflow: hidden;
}
.v5_10 {
  width: 193px;
  color: rgba(13,172,232,1);
  position: absolute;
  top: 0px;
  left: 206px;
  font-family: Poppins;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_14 {
  width: 117px;
  color: rgba(13,172,232,1);
  position: absolute;
  top: 0px;
  left: 149px;
  font-family: Poppins;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_12 {
  width: 150px;
  color: rgba(13,172,232,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Black;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
