:root { 
  --black: #000000;
  --cerulean: #0dace8;
 
  --font-size-l: 26px;
  --font-size-m: 24px;
  --font-size-xl: 28px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 50px;
  --font-size-xxxxl: 100px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-black-black-32px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}

.poppins-black-white-32px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}

.poppins-black-cerulean-32px {
  color: var(--cerulean);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}

.poppins-light-black-24px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.poppins-medium-black-28px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.poppins-black-black-26px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
}
